.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.nav-link{
    font-family: 'Jost', sans-serif;
    color: white;
}

.footer{
    color: white;
}



/* .navbar{
    color: rgb(12, 24, 70);
} */

.card-title1{
    /* font-family: 'Bebas Neue', cursive; */
    color: rgb(147, 147, 147);
}

.jumbotron
{   
    background-image:url('aa.jpg');
    background-size: cover;
    height: 720px;
    color:white;
    text-align: left;
    background-size: 100%;
}

.img{
    opacity: 0.8;
}

#gambar1{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px;
    background-size: 100% 100%;
}

hr{
    border-color: white;
    border-width: 1px;
}

h3{
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Alegreya Sans', sans-serif;
}

p{
    font-family: 'Jost', sans-serif;
}

.youtube{
    width: 350px; 
    height:200px;
}

@media (max-width: 991px) {
    .column-margin {
      margin-bottom: 20px ;
    }
}

@media (width:768px){
    /* #gambar1{
        width: 30vh;
        height: 20vh;
        border-radius: 15px 15px;
        background-size: 100% 100%;
    } */

    .youtube{
        width:220px; 
        height:130px;
    }
}